*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Nanum Gothic', sans-serif;
         
}
body{
    background:linear-gradient(70deg, #00c6a7,#1e4d92);
    overflow-x:hidden;


 }

        
  .navbar{

       width:100%;
       display:flex;
       margin-left:300px;
       margin-top:-100px;
       align-items:center;
  
  }

  .navbar li{

    list-style:none;
    padding:19px 25px;
    text-transform:uppercase;
   }

  .navbar li a{

    color:white;
    text-decoration:none;
  
  }

  .navbar li a:hover{
        
       color:pink;
       cursor:pointer; 
  
    
  }

  .button1{
      
    background:linear-gradient(90deg #00c6a7,#1e4d92);


 
    }

    .button1:hover{

        cursor:pointer;
        color:red;
    }


     
    
    .logo img{

        width:17%;
      }

    .content h1{

        margin-right:600px;
        margin-top:80px;
        margin-left:330px;
        font-size:35px;
        color:white;
           }

        button{

            margin-left:330px;
            margin-top:25px;
            background:linear-gradient(80deg, #00c6a7,#1e4d92);
            padding:14px 25px;
            color:white;
            border:none;
            font-size:20px;
 
        }

        button:hover{
            background:tomato;
            color:pink;
            cursor:pointer;
         }
        
        .dot {
            height: 25px;
            width: 25px;
            padding:270px;
            background:linear-gradient(50deg, #00c6a7,#1e4d92);
             border-radius: 50%;
            display: inline-block;
            margin-left:700px;
            margin-top:-230px;

          }
          .container h1{

            margin-left:802px;
            margin-top:-450px;
            font-size:130px;
            color:white;
            text-transform:uppercase;
          }

          .image1 img{

            width:45%;
            height:70%;
            margin-left:730px;
            margin-top:-350px;
  
  

 
           }