 *{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;

 
 
 }

 body{

      background:url("restaurant.jpg");
        background-repeat:no-repeat;
      background-size:cover;
        
 }

 nav ul {

      display:flex;
      flex-direction:row;
      justify-content:space-around;
      align-items:center;
      margin-left:370px;
      margin-top:30px;
      width:60%;
 }

 nav ul li{
       
      font-size:20px;
      list-style:none;
      
  }

  nav ul li a{

    text-decoration:none;
    color:white;
     }

  nav ul li a:hover{

      
    background:rgb(230, 165, 46);

       transition:0.6s all;

   }
   
   .container{
        
    width:27%;
    height:638px;
    border:2px solid;
    margin-top:-43px;
    margin-left:5px;
    background:black;
    opacity:0.9;
   }
   
   .container h1{

      color:white;
      text-align:center;
       margin-top:80px;
    }

    .paragraph p{
          
        margin-top:40px;
        text-align:justify;
        color:darkgray;
        font-weight:normal;
         padding:35px;
 
    }

    .para1{

       text-transform:uppercase;
       color:white;
       margin-left:90px;
       margin-top:-45px;
 
    }

    .order{
         
        margin-left:25px;

 
    }

    .btn{

         border:2px solid white;
         padding:5px 27px;
         background:black;
         color:white;
    }
    
    .btn:hover{

        background:rgb(230, 165, 46);
        cursor:pointer; 
         transition:0.5s all;

    }


   