 .container{

    border:2px solid rgba(0, 0, 0, 0.096);
  padding:200px;
  border-radius:20px;
  width:5%;
  margin-left:350px;
  margin-right:150px;
  margin-top:30px;
  padding-bottom:1000px;
  background-color:whitesmoke;
  }

  .header{
        
    font-size:20px;
    position:absolute;
    top:50px;
    left:440px;
    text-align:center;
    font-family:Impact, Charcoal, sans-serif;
  }

  .box{
    border:2px solid rgba(0, 0, 0, 0.096);
    padding:70px;
    padding-left:190px; 
    padding-right:230px;
    margin-left:-170px;
    padding-top:100px;
    }

    .box p{

      position:absolute;
      top:220px;
      left:400px;
    }


     .box1{
         
      position:absolute;
      top:430px;
      left:385px;
      border:2px solid rgba(0, 0, 0, 0.096);
      padding:10px;
      margin:5px;
      padding-right:1px;
      padding-bottom:35px;
       padding-left:2px;
      

     }

     .box1 img{
         
      border-radius:250px;
      
     }
 
      
      
     .box1 p{
         
      border:2px solid rgba(0, 0, 0, 0.096);
       text-align:center;
      font-style:italic;
      background-color:rgba(0, 0, 0, 0.137);
      padding:2px;
      position:absolute;
      top:415px;
      right:10px;
      width:94%;

       }
   .text{

       position:absolute;
       top:920px;
       left:390px;
   }

   .text2 {
        
    position:absolute;
    right:75px;

    
   }
   span{
      
    color:blue;
    font-style:italic;
   }
       
      