 body{
      background-image:url('forest.jpg');
     background-repeat:no-repeat;
     background-position:center;
     background-size:cover;
 }

 .styleform {
      
     width:190px;
     height:270px;
     margin:192px auto;
     border:1px solid transparent;
  }
  #clear{

    width:174px;
    padding:4px;
    padding-bottom:5px;
    padding-top:4px;
    padding-right:1px;
    text-align:center;
    color:white;
    border:none;
    background:mediumaquamarine;
  }
  #clear:hover{
      background:mediumpurple;
      cursor:pointer;
  }

  input[type="text"]{
      
    width:168px;
    padding:6px;
    background:tomato;
    border:none;
    color:white;
  }

  input[type="text"]:hover{
      background:greenyellow;
  }

  input[type="button"]{

    padding-right:43px;
    background:skyblue;
    border:none;
  }

input[type="button"]:hover{

    background:orange;
     

   }
  #mul{

    padding-right:48px;
  }

